* {
	box-sizing: border-box;
}

body {
	margin: 1em 1ch;
	font-family: roboto mono, courier, monospace;
	background-color: #000;
	color: #aaa;
/*
	font-size: 200%;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	*/
}

input {
	position: absolute;
	visibility: hidden;
}

label, a {
	text-decoration: none;
	background: linear-gradient(to right, dodgerblue, dodgerblue) no-repeat;
	background-position: 0 95%;
	background-size: 100% 1px;
	color: inherit;
	cursor: pointer;
	border-radius: 4px;
	transition: all 300ms;
	&:hover {
		color: #fff;
		background-size: 100% 100%;
		background-position: 0 100%;
	}
}

footer {
	margin-top: 1em;
	text-align: center;
}

@import "map.less";
@import "inv.less";
@import "nav.less";
@import "intro.less";
@import "welcome.less";
