#game {
	padding: 1em 1ch 0;
	min-height: calc(100vh - 2em*@lh);

	input {
		position: absolute;
		visibility: hidden;
	}

	counter-reset: gold;
}

@import "map.less";
@import "inv.less";
@import "nav.less";
@import "intro.less";
