#game {
	margin: 0 auto;
	padding: 1em 1ch 2em*@lh;
	max-width: 100ch;
	min-height: calc(100vh - 3em*@lh);

	input {
		position: absolute;
		visibility: hidden;
	}

	counter-reset: gold;
}

@import "map.less";
@import "inv.less";
@import "nav.less";
@import "intro.less";
@import "mobile.less";
