@dim: #333;

#inv {
	clear: left;
	font-size: 150%;
	white-space: pre;
	.hp, .key {
		display: inline-block;
	}

	.key {
		color: @dim;
		width: 1ch;  // exotic glyph
		text-align: center;
	}

	.hp {
		color: red;
	}

	.weapon::after {
		content: "none";
	}
}

@keyframes key-add {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(3);
		color: lime;
	}
	100% {
		transform: scale(1);
		color: lime;
	}
}

@keyframes hp-remove {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
		color: @dim;
	}
}
