#map {
	position: relative;

	.wall {
		color: #666;
	}

	.cell {
		color: #999;
	}

	.c, #pc {
		position: absolute;
		background-color: black;
	}

	#pc {
		color: blue;
		transition: all 100ms;
	}
}
