#map {
	position: relative;
	font-size: 200%;
	line-height: 1;

	.wall {
		color: #666;
	}

	.cell {
		color: #999;
	}

	.c, #pc {
		position: absolute;
		background-color: black;
	}

	#pc {
		color: dodgerblue;
		text-decoration: underline;
		transition: all 100ms;
	}
}
