#nav {
	@nav-height: 10em * @lh;
	@mid: 4em * @lh;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: relative;
	float: right;
	font-size: 200%;

	.cs.key:not(:checked) ~ & {  // only when there are keys remaining
		min-height: @nav-height;
	}

	#victory, #gameover { 
		font-size: 100% / @lh;
		display: none;

		p:first-child { margin-top: 0; }
	}

	label { 
		display: none;
		position: absolute;
		&::after { position: absolute; }
		white-space: nowrap;
	}

	.left, .right {
		top: @mid;
		transform: translate(0, -50%);

		&::after {
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	.left {
		text-align: right;
		right: calc(50% + 1.5ch);
		padding-right: 2ch;

		&::after {
			right: 0;
			content: "◀";
		}
	}

	.right {
		text-align: left;
		left: calc(50% + 1.5ch);
		padding-left: 2ch;

		&::after {
			left: 0;
			content: "▶";
		}
	}

	.up, .down {
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;

		&::after {
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	.up {
		bottom: calc(@nav-height - @mid + 0.5em);
		padding-bottom: 1em;

		&::after {
			bottom: 0;
			content: "▲";
		}
	}

	.down {
		top: calc(@mid + 0.5em);
		padding-top: 1em;

		&::after {
			top: 0;
			content: "▼";
		}
	}

	.pick {
		left: 50%;
		top: calc(@mid + 4em*@lh);
		transform: translate(-50%, 0);
		text-align: center;
	}

	#victory {
		strong {
			color: gold;
		}

		.gold {
			color: gold;
			&::after {
				content: counter(gold);
			}
		}
	}
}

