#welcome {
	margin: 1em auto;
	font-size: 50%;
	line-height: 1.3;

	width: calc(100% - 2ch);
	max-width: 80ch;

	h1 {
		text-align: center;
		color: #fff;
	}

	h2 {
		color: gold;
		font-size: 100%;
		margin-top: 2.6em;
	}

	strong {
		font-weight: normal;
		color: #fff;
	}

	p strong {
		color: red;
	}
}