#welcome {
	margin: 0 auto;
	width: calc(100% - 2ch);
	max-width: 80ch;
	min-height: calc(100vh - 3em*@lh);
	line-height: @lh;
	padding-top: 1em;
	padding-bottom: 3em*@lh;
	font-size: 100%;

	h1 {
		text-align: center;
		color: #fff;
		font-size: 150%;
		margin: 0;
	}

	h2 {
		color: gold;
		font-size: 100%;
		margin-top: 2em*@lh;
	}

	p strong {
		color: red;
	}

	ul {
		padding-left: 4ch;
		list-style: none;
		li {
			text-indent: -2ch;
			+li { margin-top: 1em*@lh; }
		}
	}

	.ok::before {
		content: "+ ";
		color: lime;
		font-weight: bold;
	}

	.ko::before {
		content: "− ";
		color: red;
		font-weight: bold;
	}
}
