* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: input, courier, monospace;
  background-color: #000;
  color: #bbb;
  line-height: 1.3;
}
label,
a {
  text-decoration: none;
  background: linear-gradient(to right, dodgerblue, dodgerblue) no-repeat;
  background-position: 0 90%;
  background-size: 100% 1px;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  transition: all 300ms;
}
label:hover,
a:hover {
  color: #fff;
  background-size: 100% 100%;
  background-position: 0 100%;
}
strong {
  font-weight: normal;
  color: #fff;
}
footer {
  text-align: center;
  margin-bottom: 1.3em;
}
.gold-count::after {
  content: counter(gold);
  color: gold;
}
@font-face {
  font-family: input;
  font-weight: normal;
  font-style: normal;
  src: url("font/Input-Regular.ttf") format("truetype");
}
@font-face {
  font-family: input;
  font-weight: bold;
  font-style: normal;
  src: url("font/Input-Bold.ttf") format("truetype");
}
@font-face {
  font-family: input;
  font-weight: normal;
  font-style: italic;
  src: url("font/Input-Italic.ttf") format("truetype");
}
@font-face {
  font-family: input;
  font-weight: bold;
  font-style: italic;
  src: url("font/Input-BoldItalic.ttf") format("truetype");
}
#game {
  padding: 1em 1ch 0;
  min-height: calc(100vh - 2em*1.3);
  counter-reset: gold;
}
#game input {
  position: absolute;
  visibility: hidden;
}
#map {
  position: relative;
  font-size: 200%;
  line-height: 1;
}
#map .wall {
  color: #666;
}
#map .cell {
  color: #999;
}
#map .c,
#map .g,
#map #pc {
  position: absolute;
  background-color: black;
}
#map .g {
  color: gold;
}
#map #pc {
  color: dodgerblue;
  text-decoration: underline;
  transition: all 100ms;
}
#inv {
  font-size: 200%;
}
#inv .hp,
#inv .key {
  display: inline-block;
}
#inv .key {
  color: #222;
}
#inv .hp {
  color: red;
}
@keyframes key-add {
  50% {
    transform: scale(3);
    color: lime;
  }
  100% {
    transform: scale(1);
    color: lime;
  }
}
@keyframes hp-remove {
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    color: #222;
  }
}
#nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  min-height: 26em;
}
#nav #victory,
#nav #gameover {
  display: none;
}
#nav label {
  display: none;
  position: absolute;
  font-size: 200%;
}
#nav label::after {
  position: absolute;
}
#nav .left,
#nav .right {
  top: 5.2em;
  transform: translate(0, -50%);
}
#nav .left::after,
#nav .right::after {
  top: 50%;
  transform: translate(0, -50%);
}
#nav .left {
  text-align: right;
  right: calc(50% + 1.5ch);
  padding-right: 2ch;
}
#nav .left::after {
  right: 0;
  content: "◀";
}
#nav .right {
  text-align: left;
  left: calc(50% + 1.5ch);
  padding-left: 2ch;
}
#nav .right::after {
  left: 0;
  content: "▶";
}
#nav .up,
#nav .down {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
#nav .up::after,
#nav .down::after {
  left: 50%;
  transform: translate(-50%, 0);
}
#nav .up {
  bottom: calc(13em - 5.2em + 0.5em);
  padding-bottom: 1em;
}
#nav .up::after {
  bottom: 0;
  content: "▲";
}
#nav .down {
  top: calc(5.2em + 0.5em);
  padding-top: 1em;
}
#nav .down::after {
  top: 0;
  content: "▼";
}
#nav .pick {
  left: 50%;
  top: calc(5.2em + 4em*1.3);
  transform: translate(-50%, 0);
  text-align: center;
}
#nav #victory strong {
  color: gold;
}
#nav #victory .gold {
  color: gold;
}
#nav #victory .gold::after {
  content: counter(gold);
}
#intro:not(:checked) ~ :not(header) {
  display: none;
}
#intro:checked ~ header {
  display: none;
}
#welcome {
  margin: 1em auto 0;
  width: calc(100% - 2ch);
  max-width: 80ch;
  min-height: calc(100vh - 3em*1.3);
  line-height: 1.3;
  padding-bottom: 3.9em;
  font-size: 100%;
}
#welcome h1 {
  text-align: center;
  color: #fff;
  font-size: 150%;
  margin: 0;
}
#welcome h2 {
  color: gold;
  font-size: 100%;
  margin-top: 2.6em;
}
#welcome p strong {
  color: red;
}
#welcome ul {
  padding-left: 4ch;
  list-style: none;
}
#welcome ul li {
  text-indent: -2ch;
}
#welcome ul li + li {
  margin-top: 1.3em;
}
#welcome .ok::before {
  content: "+ ";
  color: lime;
  font-weight: bold;
}
#welcome .ko::before {
  content: "− ";
  color: red;
  font-weight: bold;
}
