* {
  box-sizing: border-box;
}
body {
  margin: 1em 1ch;
  font-family: roboto mono, courier, monospace;
  background-color: #000;
  color: #aaa;
  /*
	font-size: 200%;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	*/
}
input {
  position: absolute;
  visibility: hidden;
}
label,
a {
  text-decoration: none;
  background: linear-gradient(to right, dodgerblue, dodgerblue) no-repeat;
  background-position: 0 95%;
  background-size: 100% 1px;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  transition: all 300ms;
}
label:hover,
a:hover {
  color: #fff;
  background-size: 100% 100%;
  background-position: 0 100%;
}
footer {
  margin-top: 1em;
  text-align: center;
}
#map {
  position: relative;
}
#map .wall {
  color: #666;
}
#map .cell {
  color: #999;
}
#map .c,
#map #pc {
  position: absolute;
  background-color: black;
}
#map #pc {
  color: blue;
  transition: all 100ms;
}
#inv .hp,
#inv .key {
  display: inline-block;
}
#inv .key {
  color: #222;
}
#inv .hp {
  color: red;
}
@keyframes key-add {
  50% {
    transform: scale(3);
    color: lime;
  }
  100% {
    transform: scale(1);
    color: lime;
  }
}
@keyframes hp-remove {
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    color: #222;
  }
}
#nav {
  position: relative;
}
#nav #victory,
#nav #gameover {
  display: none;
}
#nav label {
  display: none;
  position: absolute;
}
#nav label::after {
  position: absolute;
}
#nav .left,
#nav .right {
  top: 50%;
  transform: translate(0, -50%);
}
#nav .left::after,
#nav .right::after {
  top: 50%;
  transform: translate(0, -50%);
}
#nav .left {
  text-align: right;
  right: calc(50% + 1ch);
  padding-right: 2ch;
}
#nav .left::after {
  right: 0;
  content: "←";
}
#nav .right {
  text-align: left;
  left: calc(50% + 1ch);
  padding-left: 2ch;
}
#nav .right::after {
  left: 0;
  content: "→";
}
#nav .up,
#nav .down {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
#nav .up::after,
#nav .down::after {
  left: 50%;
  transform: translate(-50%, 0);
}
#nav .up {
  bottom: calc(50% + 0.5em);
  padding-bottom: 1em;
}
#nav .up::after {
  bottom: 0;
  content: "↑";
}
#nav .down {
  top: calc(50% + 0.5em);
  padding-top: 1em;
}
#nav .down::after {
  top: 0;
  content: "↓";
}
#is:not(:checked) ~ section:not(#intro) {
  display: none;
}
#is:checked ~ #intro {
  display: none;
}
#welcome {
  margin: 0 auto;
  max-width: 80ch;
  line-height: 1.3;
  min-height: calc(100vh - 4em*1.3);
  padding-bottom: 3.9em;
  font-size: 120%;
}
#welcome h1 {
  text-align: center;
  color: #fff;
  font-size: 150%;
  margin: 0;
}
#welcome h2 {
  color: gold;
  font-size: 100%;
  margin-top: 2.6em;
}
#welcome strong {
  font-weight: normal;
  color: #fff;
}
#welcome p strong {
  color: red;
}
#welcome ul {
  padding-left: 4ch;
  list-style: none;
}
#welcome ul li {
  text-indent: -2ch;
}
#welcome ul li + li {
  margin-top: 1em;
}
#welcome .ok::before {
  content: "+ ";
  color: lime;
  font-weight: bold;
}
#welcome .ko::before {
  content: "− ";
  color: red;
  font-weight: bold;
}
#welcome ~ footer {
  font-size: 120%;
  margin-top: 1.3em;
}
